*{
    border: 1px solid black;
}


body{
    font-family: 'Roboto mono', monospace;

}

.container{
    width: 80vw;
    height: 50vh;
    margin: 0 auto;
}

.nav-container{
    padding: 2%;
    /* flex-direction: row; */
    /* cursor: pointer; */
    /* float: left; */
    background-color: black;
}

/* .nav-container:not(:last-child) {
border-right: none;
}

.nav-container:after {
content: "";
clear: both;
display: table;
} */

button{
    color: white;
    padding: 1rem 3.5rem;
    margin: 2%;
    font-size: 1.5rem;
    font-family: 'Roboto mono', monospace;
    border-radius: 25px;
}

p{
    margin: auto;
    text-align: center;

}



.main-container{
    display: flex;
    flex-direction: row;
}

.main-container-image{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    margin: 0 auto;

}

.intro{


}

.middle{
    width: 20%;
    margin: 0 auto;
}

.image-middle{
    margin: 0 auto;
}

.orange{
  background-color: #FF764E;
  
}

.blue{
  background-color: #5ED3EB;
 
}

.yellow{
  background-color: #FFCD69;
}

img{
    width: 50%;
    height: 50%;
}

footer{
    background-color: #F9E7DC;
}